#btn{
    outline: none;
}
.card
{
    width: 18rem;
}
.inpCol {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .inpCol::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
  }
  .inpCol::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }